body {
    background-color: #232323;
    color: white;
}

.turquoise {
    background-color: #40E0D0;
}

.celeste {
    background-color: #A0EDE6;
}

.gray {
    background-color: #959694;
}

.jet {
    background-color: #2B2C28;
}

.night {
    background-color: #131515;
}