body {
    background-color: #232323;
    color: white;
}

.rose {
    background-color: #c19f9e;
}

.mustard {
    background-color: #d1b864;
}

.dark-gray {
    background-color: #303030;
}

.jet {
    background-color: #2B2C28;
}

.night {
    background-color: #131515;
}